<%- include('../partials/scripts.ejs'); %>
<%- include('../partials/head.ejs'); %>
<%- include('../partials/navbar.ejs'); %>
<% selectCategory = function(edit,products) {
    
    if(shopInfos.type === 'Magasin'){ %>
        <div class="form-group">
            <label class="mr-sm-2" for="category">Catégorie</label>
            <select class="custom-select mr-sm-2" name="category" id="category" required>
                <option selected disabled hidden>Veuillez choisir une catégorie</option>
                <option <%if(products === "Electroménager" && edit == true ){%> selected <%}%> >Electroménager</option>
                <option <%if(products === "Jeux-Vidéos" && edit == true ){%> selected <%}%> >Jeux-Vidéos</option>
                <option <%if(products === "High-Tech" && edit == true ){%> selected <%}%>>High-Tech</option>
                <option <%if(products === "Alimentation" && edit == true ){%> selected <%}%>>Alimentation</option>
                <option <%if(products === "Vêtements" && edit == true ){%> selected <%}%>>Vêtements</option>
                <option <%if(products === "Films & Séries" && edit == true ){%> selected <%}%>>Films & Séries</option>
                <option <%if(products === "Chaussures" && edit == true ){%> selected <%}%>>Chaussures</option>
                <option <%if(products === "Bricolage" && edit == true ){%> selected <%}%>>Bricolage</option>
                <option <%if(products === "Montres & Bijoux" && edit == true ){%> selected <%}%>>Montres & Bijoux</option>
                <option <%if(products === "Téléphonie" && edit == true ){%> selected <%}%>>Téléphonie</option>
                <option <%if(products === "Restaurant" && edit == true ){%> selected <%}%>>Restaurant</option>
            </select>
        </div>
   <% }if(shopInfos.type === 'Service') { %>
    <div class="form-group">
        <label class="mr-sm-2" for="category">Catégorie</label>
        <select class="custom-select mr-sm-2" name="category" id="category" required>
            <option selected disabled hidden>Veuillez choisir une catégorie</option>
            <option <%if(products === "Menuiserie" && edit == true ){%> selected <%}%>>Menuiserie</option>
            <option <%if(products === "Plomberie" && edit == true ){%> selected <%}%>>Plomberie</option>
            <option <%if(products === "Piscine" && edit == true ){%> selected <%}%>>Piscine</option>
            <option <%if(products === "Meubles" && edit == true ){%> selected <%}%>>Meubles</option>
            <option <%if(products === "Vêtements" && edit == true ){%> selected <%}%>>Vêtements</option>
            <option <%if(products === "Gestion de patrimoine" && edit == true ){%> selected <%}%>>Gestion de patrimoine</option>
        </select>
    </div>
    <%}if(shopInfos.type == 'Restaurant') { %>
        <div class="form-group">
            <label class="mr-sm-2" for="category">Catégorie</label>
            <select class="custom-select mr-sm-2" name="category" id="category" required>
                <option selected disabled hidden>Veuillez choisir une catégorie</option>
                <option <%if(products === "Français" && edit == true ){%> selected <%}%>>Français</option>
                <option <%if(products === "Local" && edit == true ){%> selected <%}%>>Local</option>
                <option <%if(products === "Italien" && edit == true ){%> selected <%}%>>Italien</option>
                <option <%if(products === "Fast-Food" && edit == true ){%> selected <%}%>>Fast-Food</option>
                <option <%if(products === "Asiatique" && edit == true ){%> selected <%}%>> Asiatique</option>
                <option <%if(products === "Pizzeria" && edit == true ){%> selected <%}%>>Pizzeria</option>
            </select>
        </div>
        <% } if(shopInfos.type === 'Santé') { %>
            <div class="form-group">
                <label class="mr-sm-2" for="category">Catégorie</label>
                <select class="custom-select mr-sm-2" name="category" id="category" required>
                    <option selected disabled hidden>Veuillez choisir une catégorie</option>
                    <option <%if(products === "Pharmacie" && edit == true ){%> selected <%}%>>Pharmacie</option>
                    <option <%if(products === "Aide à la personne" && edit == true ){%> selected <%}%>>Aide à la personne</option>
                </select>
            </div>
            <% } if(shopInfos.type === 'Culture & Loisirs') { %>
                <div class="form-group">
                    <label class="mr-sm-2" for="category">Catégorie</label>
                    <select class="custom-select mr-sm-2" name="category" id="category" required>
                        <option selected disabled hidden>Veuillez choisir une catégorie</option>
                        <option <%if(products === "Parc d'attraction" && edit == true ){%> selected <%}%> >Parc d'attraction</option>
                        <option <%if(products === "Musée" && edit == true ){%> selected <%}%> >Musée</option>
                        <option <%if(products === "Tourisme" && edit == true ){%> selected <%}%> >Tourisme</option>
                    </select>
                </div>
            <% }
}
%>


<style>
    #page {
        padding: 0 5%;
    }

    #addButton {
        text-align: right;
    }

    #addProduct {
        padding: .5%;
        margin-right: 3%;
        margin-bottom: 1%;
    }

    .truncate {
        display: table;
        table-layout: fixed;
        width: 100%;
    }

    .truncated {
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    img {
        max-width: 25vw;
        max-height: 25vw;
    }
</style>

<div id="page">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Mes produits</h6>
        </div>
        <div class="card-body">
            <div id="addButton">
                <button id="addProduct" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add">Ajouter un produit</button>
            </div>

            <!-- Popup d'ajout d'un produit -->
            <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="addModal" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addModal">Ajouter un produit</h5>
                            <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="formAdd" enctype="multipart/form-data">
                                <input type="hidden" name="uid" value="<?=$uid?>">
                                <div class="form-group">
                                    <label for="productname">Nom du produit</label>
                                    <input type="text" name="productName" id="productName" class="form-control" required>
                                </div>
                                <%= selectCategory(false,0) %>
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea class="form-control" name="description" rows="3" required></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="prix">Prix</label>
                                    <input type="number" step="0.01" name="prix" id="prix" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="quantite">Quantité en stock</label>
                                    <input type="number" name="quantite" id="quantite" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="reference">Référence</label>
                                    <input type="number" name="reference" id="reference" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="visibilite">Faire apparaître le produit</label>
                                    <br>
                                    <input type="checkbox" name="visibilite" id="visibilite">
                                </div>
                                <div class="form-group">
                                    <label for="image">Image</label>
                                    <br>
                                    <input type="file" name="add_image" id="add_image">
                                </div>
                                <!-- Boutons de validation et d'annulation -->
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Annuler</button>
                                    <button type="submit" name="add_product" class="btn btn-primary" onclick="addProduct()">Ajouter le produit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Affichage des produits -->
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Catégorie</th>
                            <th>Description</th>
                            <th>Prix</th>
                            <th>Quantité</th>
                            <th>Référence</th>
                            <th>Modification</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0 ; i < products.length ; i++) { %>
                            <tr>
                                <td style="width: 15%">
                                    <div class="truncate">
                                            <div class="truncated"><%= products[i].name%></div>
                                        </div>
                                    </td>
                                <td><%= products[i].category%></td>
                                <td style="width: 25%">
                                    <div class="truncate">
                                        <div class="truncated"><%= products[i].description%></div>
                                    </div>
                                </td>
                                <td><%= products[i].price%> € </td>
                                <td><%= products[i].quantity%></td>
                                <td><%= products[i].reference%></td>
                                <td>
                                    <button class="btn btn-outline-primary" value="<%= products[i].name%>" title="<%= products.nom%>"
                                        data-bs-toggle="modal" data-bs-target="#editProduct<%= i %>">
                                        <i class="far fa-edit"></i>
                                    </button>
                                    <button class="btn btn-outline-danger" value="<%= products[i].name%>"
                                        data-bs-toggle="modal" data-bs-target="#deleteProduct<%= i %>">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </td>
                            </tr>

                            <!-- Fenêtre modale de suppression d'un produit -->
                            <div class="modal fade" id="deleteProduct<%= i %>" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Vous êtes sur le point de supprimer le produit 
                                            <%= products[i].name%></h5>
                                            <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">Cette action est définitive, si vous souhaitez le supprimer veuillez cliquer
                                            sur le bouton "Supprimer" ci-dessous. </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Annuler</button>

                                            <form id="formDelete_<%= i %>" enctype="multipart/form-data">
                                                
                                                <button type="submit" value="<%=products[i].id%>" name="delete_product" onclick="deleteProduct('<%=shopInfos.id%>','<%= products[i].id %>','<%= i %>')"
                                                    class="btn btn-danger">Supprimer</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Fenêtre modale de modification d'un produit -->
                            <div class="modal fade" id="editProduct<%= i %>" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Informations sur <%= products[i].name %></h5>
                                            <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                        <form id="formEdit_<%= i %>" enctype="multipart/form-data">
                                            <div class="modal-body">
                                                
                                                <input type="hidden" name="docId" value="<%= products[i].id %>">
                                                
                                                <div class="form-group form-row">
                                                    <label for="productname">Nom du produit</label>
                                                    <input type="text" name="productName" id="productname" class="form-control"
                                                    value="<%= products[i].name %>" required>
                                                </div>
                                                <%= selectCategory(true,products[i].category) %>
                                                <div class="form-group">
                                                    <label for="description">Description</label>
                                                    <textarea class="form-control" name="description" rows="3" 
                                                        required><%= products[i].description %></textarea>
                                                </div>
                                               
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <input type="number" step="0.01" name="prix" id="prix" class="form-control"
                                                        value="<%= products[i].price %>" required>
                                                        <span class="input-group-text">€</span>
                                                    </div>	
                                                </div>
                                                <div class="form-group">
                                                    <label for="quantite">Quantité en stock</label>
                                                    <input type="number" name="quantite" id="quantite" class="form-control"
                                                    value="<%= products[i].quantity %>" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="reference">Référence</label>
                                                    <input type="number" name="reference" id="reference" class="form-control"
                                                    value="<%= products[i].reference %>" required>
                                                </div>
                                                <div class="form-group">
                                                    <div class="form-group col">
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input" type="checkbox" name="visibilite" id="visibilite" <%- products[i].visibility == true ? 'checked' : ''   %>

                                                            <label class="form-check-label" name="visibilite" for="visibilite"> Faire apparaître le produit </label>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="form-group ">
                                                    <label for="exampleColorInput" class="form-label">Image Actuelle</label><br>
                                                    <img src="<%= products[i].image[0] %>" class="img-thumbnail img-fluid" alt="currentImage" id="currentImage" name="currentImage_<%= i %>">
                                                    <input type="hidden" name="currentImageInput" id="currentImageInput" value="<%= products[i].image[0] %>"><br>
                                                    <img name="new_imageImg" id="new_imageImg" src="#"  class="img-thumbnail img-fluid" hidden >
                                                    <input type="file" name="new_image" id="new_image" onchange="readURL(this);">
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <!-- Boutons de validation et d'annulation -->
                                                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Annuler</button>

                                                <button type="submit" value="<%= products[i].id %>" name="edit_product" onclick="editProduct('<%=shopInfos.id%>','<%= products[i].id %>','<%= i %>')"
                                                    class="btn btn-primary">Modifier</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <script>
                                function readURL(input) {
                                    if (input.files && input.files[0]) {
                                        var reader = new FileReader();
                                      reader.onload = function (e) {
                                          $('#new_imageImg_<%= i %>')
                                              .attr('src', e.target.result)
                                              .removeAttr('hidden')
                                              .height(200);
                                              $('#currentImage_<%= i %>').prop('hidden', 'hidden');
                                              $('#currentImageInput_<%= i %>').prop('hidden', 'hidden');       
                                      };
                                      reader.readAsDataURL(input.files[0]);
                                  }
                              };
                            </script>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="finishAddModal" tabindex="-1" aria-labelledby="finishAddModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Enregistrement Réussi</h5>
        </div>
        <div class="modal-body">
          Votre produit a bien été ajouté !
        </div>
      </div>
    </div> 
  </div>

  <div class="modal fade" id="finishEditModal" tabindex="-1" aria-labelledby="finishEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modification Réussi</h5>
        </div>
        <div class="modal-body">
          Vos modifications ont bien été enregistrées !
        </div>
      </div>
    </div> 
  </div>

  <div class="modal fade" id="finishDeleteModal" tabindex="-1" aria-labelledby="finishDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Suppression Produit</h5>
        </div>
        <div class="modal-body">
          Votre produit a bien été supprimé !
        </div>
      </div>
    </div> 
  </div>
</div>
<%- include('../partials/footer.ejs'); %>


<script>

    function addProduct() {
        document
        .getElementById("formAdd")
        .addEventListener("submit", (event) => {
          event.preventDefault();
          const productName = event.target.productName.value;
          const description = event.target.description.value;
          const price = event.target.prix.value;
          const quantity = event.target.quantite.value;
          const reference = event.target.reference.value;
          const category = event.target.category.value;
          const visibility = event.target.visibilite.checked;
          const productImage = document.querySelector('#add_image') ;
        //   const currentImageInput = $('#currentImageInput').val();
            const formData = new FormData();
            const data = {
                productName: productName,
                description: description,
                price: price,
                quantity: quantity,
                reference: reference,
                category: category,
                visibility: visibility,
                // currentImageInput: currentImageInput,
            };
            formData.append('data', JSON.stringify(data));
            formData.append('add_image', productImage.files[0]);

          return fetch("/api/shops/<%= shopInfos.id%>/products/add", {
                  method: "POST",
                  body: formData,
                }).then(async res => {
                    const isJson = res.headers.get('content-type')?.includes('application/json');
                    const data = isJson ? await res.json() : null;
                    console.log(res.ok);
                    if (!res.ok) {
                        $( "#errorText" ).append(data.error);
                        $('#errorModal').modal('show').then(
                        setTimeout(function () {
                            $('#errorModal').modal('hide');
                            window.location.href = "/products";
                        }, 2000)
                    );
                    }else{
                        $('#finishEditModal').modal('show').then(
                        setTimeout(function () {
                            $('#finishEditModal').modal('hide');
                            window.location.href = "/produits";
                            }, 2000)
                            
                        );
                        
                    }
                });
          return false;
        });
    }
    function editProduct(idSeller,idProduct,idForm){
        console.log(idform)
    document
        .getElementById("formEdit_"+idForm)
        .addEventListener("submit", (event) => {
          event.preventDefault();
          const productName = event.target.productName.value;
          const description = event.target.description.value;
          const price = event.target.prix.value;
          const quantity = event.target.quantite.value;
          const reference = event.target.reference.value;
          const category = event.target.category.value;
          const visibility = event.target.visibilite.checked;
          const productImage = document.querySelector('#new_imageImg_'+idForm);
          const currentImageInput = $('#currentImageInput_'+idform).val();
          const formData = new FormData();
            const data = {
                productName: productName,
                description: description,
                price: price,
                quantity: quantity,
                reference: reference,
                category: category,
                visibility: visibility,
                currentImageInput: currentImageInput,
            };
            formData.append('data', JSON.stringify(data));
            formData.append('add_image', productImage.files[0]);
          return fetch("/api/shops/"+idSeller+"/products/"+idProduct+"/edit", {
                  method: "POST",
                  body:formData,
                }).then(() => {
                    $('#editProduct'+idForm).modal('hide');
                    $('#finishEditModal').modal('show').then(
                        setTimeout(function () {
                            $('#finishEditModal').modal('hide');
                            window.location.href = "/produits";
                        }, 2000)
                    );
                //   window.location.href = "/entreprise";
                });
          return false;
        });
    }

    function deleteProduct(idSeller,idProduct,idForm){
    document
        .getElementById("formDelete_"+idForm)
        .addEventListener("submit", (event) => {
          event.preventDefault();
       
          return fetch("/api/shops/"+idSeller+"/products/"+idProduct+"/delete", {
                  method: "POST",
                  headers: {
                    Accept: "application/json",
                    "Content-Type": "application/json",
                  },
                  body: JSON.stringify({idProduct}),
                }).then(() => {
                    $('#deleteProduct'+idForm).modal('hide');
                    $('#finishDeleteModal').modal('show').then(
                        setTimeout(function () {
                            $('#finishDeleteModal').modal('hide');
                            window.location.href = "/produits";
                        }, 2000)
                    );
                //   window.location.href = "/entreprise";
                });
          return false;
        });
    }


    
  </script>